<h1>Leagues#index</h1>

<%=
	button_to "Refresh",
	refresh_leagues_path,
	remote: true,
	method: :get
%>

<div id="leagues-container">
	<div id="leagues_list">
		<%= render partial: 'leagues_list', locals: { leagues: @leagues } %>
	</div>
</div>
