

<table class="table">
	<tbody>
		<% @fixtures.each do |date, fixtures| %>
			<tr class="table-secondary">
				<td colspan="4"><%= date.strftime("%d/%m/%Y") %></td>
			</tr>
			<% fixtures.each do |fixture| %>
				<tr scope="row">
					<td><%= fixture.date.strftime("%H:%M") %></td>
					<td><%= fixture.home_team.name %></td>
					<td>v</td>
					<td><%= fixture.away_team.name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
