
<table class="table fixture-list">
	<thead>
		<th>Date</th>
		<th>Home</th>
		<th>Away</th>
	</thead>
	<tbody>
	<% fixtures.each do |fixture| %>
		<tr>
			<td><%= fixture.date.strftime("%d/%m/%Y") %></td>
			<td><%= fixture.home_team.name %></td>
			<td><%= fixture.away_team.name %></td>
		</tr>
	<% end %>
	</tbody>
</ul>
